#mainWindow {
  background-color: #1d1d1d;
  background: #1d1d1d;
}

#mainWindow button {
  background-image: none;
  background: #1d1d1d;
}

#mainWindow button label {
  color: white;
  text-shadow: none;
}

#mainWindow #main-button {
  background-color: white;
}

#mainWindow #main-button label {
  color: #1d1d1d;
}

#RotateSlider {
  color: white;
}

#Console {
  background: transparent;
}

#Console text {
  border-radius: 8px;
  background-color: #373737;
}
