window {
  background-color: #0b0b0b;
  background: #0b0b0b;
}

button {
  background-image: none;
  background-color: #0b0b0b;
  background: #0b0b0b;
}

button label {
  color: white;
  text-shadow: none;
}

#main-button {
  background-color: white;
}

#main-button label {
  color: black;
}
